* {
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:10vh ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(240, 240, 240);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#icon{
    height: 48px;
    width: 48px;
}
#pessoinha{
    height: 43px;
    width: 43px;
}
.nav{
    gap: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.direita-nav{
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}